* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #080012;
}

body {
    background-color: grey;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    background-color: #333;  /* Change to the color from your Figma design */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.content-block {
    background-color: #555;  /* Change to the color from your Figma design */
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;  /* Adjust based on your design */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
}

.table-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

table, th, td {
    border-radius: 20px;
}

th, td {
    padding: 20px;
    text-align: center;
    background-color: #080012;
    border: 3px solid white;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 5px 0;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #aaa;  /* Change to the color from your Figma design */
    margin-right: 0.5rem;
}

.chatbox {
    flex: 1;
    background-color: #221548;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
    border-radius: 20px;
}

.message {
    margin: 10px 0;
    background-color: #D4ADFC;  /* Change to the color from your Figma design */
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 20px;  /* Adjust based on your design */
}
